* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

nav {
  height: 60px;
  background-color: white;
  border-bottom: 2px solid rgba(0, 11, 24, 1);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-left: 10px;
  position: fixed;
}

nav img {
  width: 100px;
  height: 40px;
  padding-top: 5px;
  object-fit: cover;
  border-radius: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}

nav a:hover {
  background-color: rgba(2, 111, 226, 1);
  font-size: larger;
}
/* NAvigation section */

.container-I {
  width: 90%;
  /* border: 2px solid black; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

.container-I h1 {
  color: white;
  font-size: 100px;
  margin-left: 100px;
  margin-top: 100px;
  text-shadow: 10px 10px 5px black;
}

.content-home {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 50px 50px;
}

.content-home p {
  font-size: 20px;
  color: white;
  text-shadow: 10px 10px 20px black;
  font-family: "Open Sans", sans-serif;
}

.c1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  margin-left: 100px;
}

.c2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  margin-left: 100px;
}
/* ---------- */

.vid {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 80%;
}

video {
  display: block;

  margin-left: auto;
  margin-right: auto;
}

.liv-swed {
  width: 80%;
  margin: auto auto;
  /* border: 2px solid yellow; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cards {
  width: 30%;
  /* border: 3px solid red; */
  background-color: white;
  text-align: center;
  padding: 8px;
  padding-bottom: 20px;
  /* border-radius: 10%; */
  margin-top: 30px;
}

.image {
  width: 90%;
  margin: 8px 8px;
  height: 300px;
  object-fit: cover;
}

.image:hover {
  border-radius: 15%;
}

.container-II {
  background-color: rgba(0, 11, 24, 1);
  padding: 40px 0px;
}

/* -------------------------------------------------------------- */

.backdiv {
  width: 100%;
  padding: 30px 0px;
  height: 250px;
}

.backdiv div {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.intro {
  color: white;
}

.content-III {
  width: 75%;
  /* border: 3px solid blue; */
  background-color: white;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  /* left: 100px; */
  /* top: 300px; */
  /* z-index: 2; */
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-III div {
  margin: 5px 15px;
}

.h1-II {
  color: white;
  font-size: 40px;
}

.paragraphs {
  padding: 12px 30px;
  display: flex;
}

.paragraphs p,
h2 {
  padding: 15px 0;
}

.paragraphs p {
  text-align: justify;
}

.paragraphs div {
  width: 60%;
}

.paragraphs img {
  width: 40%;
  height: 250px;
  object-fit: cover;
  border-left: 4px solid rgba(2, 111, 226, 1);
  border-right: 4px solid rgba(2, 111, 226, 1);
  padding: 8px;
}

/* ------------------------------------------------------------------------------------------- */

.container-VI {
  width: 100%;
  background-color: rgba(0, 11, 24, 1);
  margin: auto;
  padding: 100px 200px;
}

.container-VI h1 {
  margin: 12px 0;
  color: white;
}
.container-VI p {
  color: white;
  text-align: justify;
}

.container-VI h2 {
  margin: 12px 0;
  color: white;
}

.images {
  display: flex;
  justify-content: space-between;
  margin: 20px 5px;
}

.images img {
  width: 45%;
}

.team {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 50px 60px;
}

.person {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.team img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* Container Section */

footer {
  border-top: 2px solid rgba(0, 11, 24, 1);
  width: 100%;
  display: flex;
  height: 300px;
  padding: 30px 30px;
  background-color: white;
  align-items: center;
}

.footer-content {
  display: flex;
  padding: 30px 30px;
  margin: auto;
  gap: 80px;
}

.footer-section {
  text-align: center;
  color: yellow;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.h2 {
  color: black;
  text-shadow: 3px 3px 5px black;
}

.footer-section a {
  color: black;
  text-decoration: none;
  padding: 8px 5px;
}

.footer-section a:hover {
  text-decoration: underline;
}
.about-me{
  text-align: center;
  width: 100%;
  padding-top: 15px 0;
  background-color:rgba(0, 11, 24, 1);
}
.about-me p{
  color: white;
  font-style: italic;
  font-weight: bold;
}
.links a {
  color: black;
  text-decoration: none;
}

.contact p {
  color: black;
  text-decoration: none;
  padding: 8px 5px;
}

/* Footer section */

body {
  background-image: url("background.jpg");
  background-size: cover; /* Adjusts the background image size */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center center; /* Centers the background image */
  background-attachment: fixed;
}
